/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* body {
  padding-top: 50px;
  padding-bottom: 20px;
} */

html, body, #jobletics {
  height: 100%;
}
.app-wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 130px; /* More or less the height of the footer */
}
footer {
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
}

.notifications {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  top: 0;
  z-index: 100000;
  margin-top: 20px;
}

.notifications li {
  display: block;
  list-style-type: none;
  font-size: 20px;
}

.fadein-leave {
  opacity: 1;
  transition: opacity .15s linear;
}
.fadein-leave.fadein-leave-active { opacity: 0.01; }

.fadein-appear {
  opacity: 0.01;
  transition: opacity .15s linear;
}
.fadein-appear.fadein-appear-active { opacity: 1; }
.fadein-enter {
  opacity: 0.01;
  transition: opacity .15s linear;
}
.fadein-enter.fadein-enter-active { opacity: 1; }
