<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="Jobseek - Job Board Responsive HTML Template">
		<meta name="author" content="Coffeecream Themes, info@coffeecream.eu">
		<title>Jobseek - Job Board Responsive HTML Template</title>
		<link rel="shortcut icon" href="images/favicon.png">

		<!-- Main Stylesheet -->
		<link href="css/style.css" rel="stylesheet">

		<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<!-- ============ PAGE LOADER START ============ -->

		<div id="loader">
			<i class="fa fa-cog fa-4x fa-spin"></i>
		</div>

		<!-- ============ PAGE LOADER END ============ -->

		<!-- ============ NAVBAR START ============ -->

		<!-- ============ NAVBAR END ============ -->

		<!-- ============ HEADER START ============ -->

		<!-- ============ HEADER END ============ -->

		<!-- ============ JOBS START ============ -->

			<div class="container">
				<div class="row text-center">
					<div class="col-sm-12">
						<h1>Cashier - Business Name</h1><br>
					</div>
					<div class="col-md-2"></div>
						<div class="col-md-4">
							<img style="width: 200px; height: 200px" src="images/person3.jpg" /><br>
							<h4>HM's Name</h4>
						</div>
						<div class="col-md-4">
							<img style="width: 200px; height: 200px" src="images/person4.jpg" />
							<h4>Applicant's Name</h4>
						</div>
						<div class="col-sm-12"><h3>Application Status</h3></div>
						<div class="col-sm-4"></div>						
						<div class="col-sm-4">
							<div class="progress">
								<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									40%
								</div>
							</div>
						</div>

				</div><br>

				<form>
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group" id="job-email-group">
								<h5 for="job-email">Email</h5>
								<input type="email" class="form-control" id="job-email" placeholder="you@yourdomain.com -- SHOULD AUTO-POPULATE">
							</div>
							<div class="form-group" id="job-title-group">
								<h5 for="job-title">Phone Number</h5>
								<input type="text" class="form-control" id="job-title" placeholder="e.g. Designer -- SHOULD AUTO-POPULATE">
							</div>
							<div class="form-group" id="job-location-group">
								<h5 for="job-location">Address</h5>
								<input type="text" class="form-control" id="job-location" placeholder="e.g.123 Hope Ave -- SHOULD AUTO-POPULATE">
							</div>
							<div class="form-group" id="job-location-group">
								<h5 for="job-location">Zipcode</h5>
								<input type="text" class="form-control" id="job-location" placeholder="12345 -- SHOULD AUTO-POPULATE">
							</div>
							<div class="form-group" id="job-location-group">
								<h5 for="job-region">State</h5>
								<input type="text" class="form-control" id="job-location" placeholder="Boston -- SHOULD AUTO-POPULATE">
							</div>
							<div class="form-group" id="job-type-group">
								<h5 for="job-type">Availability</h5>
								<select  class="form-control" id="job-type">
									<option>Times posted by HM for job</option>
									<option>Part Time</option>
									<option>Full Time</option>
									<option>Monday</option>
									<option>Teusday</option>
								</select>
							</div>
							<div class="form-group" id="job-skills-group">
								<h5 for="job-region">Skills</h5>
								<input type="text" class="form-control" id="job-skills" placeholder="skills populated by #t">
							</div>

									<!-- Experience Start -->
									<div class="row">
										<div class="col-sm-12">
											<p>&nbsp;</p>
											<h5>Experience</h5>
										</div>
									</div>
									<div class="row experience">
										<div class="col-sm-6">
											<div class="form-group" id="resume-employer-group">
												<label for="resume-employer">Employer</label>
												<input type="text" class="form-control" id="resume-employer" placeholder="Company name">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group" id="resume-experience-dates-group">
												<label for="resume-experience-dates">Start/End Date</label>
												<input type="text" class="form-control" id="resume-experience-dates" placeholder="e.g. April 2010 - June 2013">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group" id="resume-job-title-group">
												<label for="resume-job-title">Job Title</label>
												<input type="text" class="form-control" id="resume-job-title" placeholder="e.g. Cashier">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group" id="resume-responsibilities-group">
												<label for="resume-responsibilities">Responsibilities</label>
												<input type="text" class="form-control" id="resume-responsibilities" placeholder="e.g. Developing new websites">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<hr class="dashed">
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<p><a id="add-experience">+ Add Experience</a></p>
											<hr>
										</div>
									</div>
									<!-- Experience Start -->

									<!-- Education Start -->
									<div class="row">
										<div class="col-sm-12">
											<p>&nbsp;</p>
											<h5>Education</h5>
										</div>
									</div>
									<div class="row education">
										<div class="col-sm-6">
											<div class="form-group" id="resume-school-group">
												<label for="resume-school">School Name</label>
												<input type="text" class="form-control" id="resume-school" placeholder="School name, city and country">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group" id="resume-education-dates-group">
												<label for="resume-education-dates">Start/End Date</label>
												<input type="text" class="form-control" id="resume-education-dates" placeholder="e.g. April 2010 - June 2013">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group" id="resume-qualifications-group">
												<label for="resume-qualifications">Qualifications</label>
												<input type="text" class="form-control" id="resume-qualifications" placeholder="e.g. Master Engineer">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group" id="resume-notes-group">
												<label for="resume-notes">Notes</label>
												<input type="text" class="form-control" id="resume-notes" placeholder="Any achievements">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<hr class="dashed">
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<p><a id="add-education">+ Add Education</a></p>
											<hr>
										</div>
									</div>
									<!-- Education Start -->

									<!-- Resume File Start -->
									<div class="row">
										<div class="col-sm-12">
											<p>&nbsp;</p>
											<h5>Resume File</h5>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group" id="resume-file-group">
												<label for="resume-file">Upload Your Resume</label>
												<input type="file" id="resume-file">
												<p class="help-block">Optionally upload your resume for employers to view. Max. file size: 64 MB.</p>
											</div>
										</div>
									</div>
									<!-- Resume File Start -->
									<div class="row text-center">
									<div class="col-sm-6"></div>

										<div class="col-sm-4">
											<p>&nbsp;</p>
											<a href="#" class="btn btn-primary btn-lg">Apply <i class="fa fa-arrow-right"></i></a>
										</div>
									</div>

								</form>

							</div>
		
						</div>
					</div>
				</form>

			</div>

		<!-- ============ JOBS END ============ -->


		<!-- ============ FOOTER START ============ -->
		<footer>
			<div id="credits">
				<div class="container text-center">
					<div class="row">
						<div class="col-md-5">
							&copy; 2015 Jobletics<br>
							<a href="rahul@gmail.com" target="_blank">Contact Us</a><br>
							<a href="rahul@gmail.com" target="_blank">About</a>

						</div>
						<div class="col-md-5" id="social-networks">
							<a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-google-plus-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-youtube-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-vimeo-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-pinterest-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- ============ FOOTER END ============ -->

		<!-- ============ LOGIN START ============ -->

		<div class="popup" id="login">
			<div class="popup-form">
				<div class="popup-header">
					<a class="close"><i class="fa fa-remove fa-lg"></i></a>
					<h2>Login</h2>
				</div>
				<form>
					<ul class="social-login">
						<li><a class="btn btn-facebook"><i class="fa fa-facebook"></i>Sign In with Facebook</a></li>
						<li><a class="btn btn-google"><i class="fa fa-google-plus"></i>Sign In with Google</a></li>
						<li><a class="btn btn-linkedin"><i class="fa fa-linkedin"></i>Sign In with LinkedIn</a></li>
					</ul>
					<hr>
					<div class="form-group">
						<label for="login-username">Username</label>
						<input type="text" class="form-control" id="login-username">
					</div>
					<div class="form-group">
						<label for="login-password">Password</label>
						<input type="password" class="form-control" id="login-password">
					</div>
					<button type="submit" class="btn btn-primary">Sign In</button>
				</form>
			</div>
		</div>

		<!-- ============ LOGIN END ============ -->

		<!-- ============ REGISTER START ============ -->

		<div class="popup" id="register">
			<div class="popup-form">
				<div class="popup-header">
					<a class="close"><i class="fa fa-remove fa-lg"></i></a>
					<h2>Register</h2>
				</div>
				<form>
					<ul class="social-login">
						<li><a class="btn btn-facebook"><i class="fa fa-facebook"></i>Register with Facebook</a></li>
						<li><a class="btn btn-google"><i class="fa fa-google-plus"></i>Register with Google</a></li>
						<li><a class="btn btn-linkedin"><i class="fa fa-linkedin"></i>Register with LinkedIn</a></li>
					</ul>
					<hr>
					<div class="form-group">
						<label for="register-name">Name</label>
						<input type="text" class="form-control" id="register-name">
					</div>
					<div class="form-group">
						<label for="register-surname">Surname</label>
						<input type="text" class="form-control" id="register-surname">
					</div>
					<div class="form-group">
						<label for="register-email">Email</label>
						<input type="email" class="form-control" id="register-email">
					</div>
					<hr>
					<div class="form-group">
						<label for="register-username">Username</label>
						<input type="text" class="form-control" id="register-username">
					</div>
					<div class="form-group">
						<label for="register-password1">Password</label>
						<input type="password" class="form-control" id="register-password1">
					</div>
					<div class="form-group">
						<label for="register-password2">Repeat Password</label>
						<input type="password" class="form-control" id="register-password2">
					</div>
					<button type="submit" class="btn btn-primary">Register</button>
				</form>
			</div>
		</div>

		<!-- ============ REGISTER END ============ -->

		<!-- Modernizr Plugin -->
		<script src="js/modernizr.custom.79639.js"></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.11.2.min.js"></script>

		<!-- Bootstrap Plugins -->
		<script src="js/bootstrap.min.js"></script>

		<!-- Retina Plugin -->
		<script src="js/retina.min.js"></script>

		<!-- ScrollReveal Plugin -->
		<script src="js/scrollReveal.min.js"></script>

		<!-- Flex Menu Plugin -->
		<script src="js/jquery.flexmenu.js"></script>

		<!-- Slider Plugin -->
		<script src="js/jquery.ba-cond.min.js"></script>
		<script src="js/jquery.slitslider.js"></script>

		<!-- Carousel Plugin -->
		<script src="js/owl.carousel.min.js"></script>

		<!-- Parallax Plugin -->
		<script src="js/parallax.js"></script>

		<!-- Counterup Plugin -->
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/waypoints.min.js"></script>

		<!-- No UI Slider Plugin -->
		<script src="js/jquery.nouislider.all.min.js"></script>

		<!-- Bootstrap Wysiwyg Plugin -->
		<script src="js/bootstrap-wysiwyg.js"></script>
		<script src="js/jquery.hotkeys.js"></script>

		<!-- Flickr Plugin -->
		<script src="js/jflickrfeed.min.js"></script>

		<!-- Fancybox Plugin -->
		<script src="js/fancybox.pack.js"></script>

		<!-- Magic Form Processing -->
		<script src="js/magic.js"></script>

		<!-- jQuery Settings -->
		<script src="js/settings.js"></script>


	</body>
</html>