<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="Jobseek - Job Board Responsive HTML Template">
		<meta name="author" content="Coffeecream Themes, info@coffeecream.eu">
		<title>Jobseek - Job Board Responsive HTML Template</title>
		<link rel="shortcut icon" href="images/favicon.png">

		<!-- Main Stylesheet -->
		<link href="css/style.css" rel="stylesheet">

		<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<!-- ============ PAGE LOADER START ============ -->

		<div id="loader">
			<i class="fa fa-cog fa-4x fa-spin"></i>
		</div>

		<!-- ============ PAGE LOADER END ============ -->

		<!-- ============ NAVBAR START ============ -->

		<!-- ============ NAVBAR END ============ -->

		<!-- ============ HEADER START ============ -->

		
		<!-- ============ HEADER END ============ -->

		<!-- ============ TITLE START ============ -->


		<!-- ============ TITLE END ============ -->

		<!-- ============ JOBS START ============ -->

			<div class="container">
				<div class="row">
					<div class="col-sm-8">
					<div class="row">
						<div class="col-xs-12">
						<h2>My Listings</h2><br>
						<div class="col-md-2"></div>
						<div class="col-md-2">Business</div>
						<div class="col-md-2">Job Title</div>
						<div class="col-md-2">Applicants</div>
						<div class="col-md-2">Stage</div>
						<div class="col-md-2">Last Viewed</div><br>
					</div>
				</div>


						<div class="jobs">
							
							<!-- Job offer 1 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">524</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 2 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job2.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>7-11</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Stocker</div>
									<div class="col-md-2">24</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 3 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job3.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Starbucks</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Barista</div>
									<div class="col-md-2">1224</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 4 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job3.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 5 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 6 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 7 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 8 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 9 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 10 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 11 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 12 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 13 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 14 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 15 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 16 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 17 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 18 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 19 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>
							
							<!-- person offer 20 -->
							<a href="#">
								<img style="width: 50px; height: 50px" src="images/job1.jpg" alt="" class="img-circle" />
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<h5>Chevron Station</h5>
									<p>Boston</p>
								</div>
									<div class="col-md-2">Cashier</div>
									<div class="col-md-2">1024</div>
									<div class="col-md-2">Draft</div>
									<div class="col-md-1">1/12/15</div>
							</a>

						</div>

						<nav>
							<ul class="pagination">
								<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
								<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
							</ul>
						</nav>

					</div>
					<div class="col-sm-4" id="sidebar">

						<!-- Find a Candidate Start -->
						<div class="sidebar-widget" id="jobsearch">
													<h3>Filter</h3>
													<form>
														
														
														<div class="row">
															<div class="col-xs-6">
																<h5>Distance</h5>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> All Distances
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> Less than 1 Mile
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> 2 Miles
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> 5 Miles
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> 25 Miles
																	</label>
																</div>
															</div>
															<div class="col-xs-6">
																<h5>Availability</h5>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> All Availability
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> Part Time / Full Time
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> Full Time
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> Part Time
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> Temporary
																	</label>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12">
																<hr>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-6">
																<h5>Candidate Type</h5>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> All Types
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> Cashier
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> Barista
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> Line Cook
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> Driver
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> Trainer
																	</label>
																</div>
															</div>
															<div class="col-xs-6">
																<h5>Location</h5>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> All Types
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> New York
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> San Francisco
																	</label>
																</div>
																<div class="checkbox">
																	<label>
																		<input type="checkbox"> Boston
																	</label>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12">
																<hr>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12">
																<h5>Experience</h5>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-6">
																<p>More than <b><span id="years-field"></span></b> years</p>
															</div>
															<div class="col-xs-6">
																<div class="form-slider" id="years"></div>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12">
																<hr>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12">
																<a class="btn btn-primary">Reset All Filters</a>
															</div>
														</div>
													</form>
												</div>
						<!-- Find a Job End -->

					</div>
				</div>
			</div>

		<!-- ============ JOBS END ============ -->

		<!-- ============ CONTACT START ============ -->

		<!-- ============ CONTACT END ============ -->

		<!-- ============ FOOTER START ============ -->

		<footer>
			<div id="credits">
				<div class="container text-center">
					<div class="row">
						<div class="col-md-5">
							&copy; 2015 Jobletics<br>
							<a href="rahul@gmail.com" target="_blank">Contact Us</a><br>
							<a href="rahul@gmail.com" target="_blank">About</a>

						</div>
						<div class="col-md-5" id="social-networks">
							<a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-google-plus-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-youtube-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-vimeo-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-pinterest-square"></i></a>
							<a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- ============ FOOTER END ============ -->

		<!-- ============ LOGIN START ============ -->

		<div class="popup" id="login">
			<div class="popup-form">
				<div class="popup-header">
					<a class="close"><i class="fa fa-remove fa-lg"></i></a>
					<h2>Login</h2>
				</div>
				<form>
					<ul class="social-login">
						<li><a class="btn btn-facebook"><i class="fa fa-facebook"></i>Sign In with Facebook</a></li>
						<li><a class="btn btn-google"><i class="fa fa-google-plus"></i>Sign In with Google</a></li>
						<li><a class="btn btn-linkedin"><i class="fa fa-linkedin"></i>Sign In with LinkedIn</a></li>
					</ul>
					<hr>
					<div class="form-group">
						<label for="login-username">Username</label>
						<input type="text" class="form-control" id="login-username">
					</div>
					<div class="form-group">
						<label for="login-password">Password</label>
						<input type="password" class="form-control" id="login-password">
					</div>
					<button type="submit" class="btn btn-primary">Sign In</button>
				</form>
			</div>
		</div>

		<!-- ============ LOGIN END ============ -->

		<!-- ============ REGISTER START ============ -->

		<div class="popup" id="register">
			<div class="popup-form">
				<div class="popup-header">
					<a class="close"><i class="fa fa-remove fa-lg"></i></a>
					<h2>Register</h2>
				</div>
				<form>
					<ul class="social-login">
						<li><a class="btn btn-facebook"><i class="fa fa-facebook"></i>Register with Facebook</a></li>
						<li><a class="btn btn-google"><i class="fa fa-google-plus"></i>Register with Google</a></li>
						<li><a class="btn btn-linkedin"><i class="fa fa-linkedin"></i>Register with LinkedIn</a></li>
					</ul>
					<hr>
					<div class="form-group">
						<label for="register-name">Name</label>
						<input type="text" class="form-control" id="register-name">
					</div>
					<div class="form-group">
						<label for="register-surname">Surname</label>
						<input type="text" class="form-control" id="register-surname">
					</div>
					<div class="form-group">
						<label for="register-email">Email</label>
						<input type="email" class="form-control" id="register-email">
					</div>
					<hr>
					<div class="form-group">
						<label for="register-username">Username</label>
						<input type="text" class="form-control" id="register-username">
					</div>
					<div class="form-group">
						<label for="register-password1">Password</label>
						<input type="password" class="form-control" id="register-password1">
					</div>
					<div class="form-group">
						<label for="register-password2">Repeat Password</label>
						<input type="password" class="form-control" id="register-password2">
					</div>
					<button type="submit" class="btn btn-primary">Register</button>
				</form>
			</div>
		</div>

		<!-- ============ REGISTER END ============ -->

		<!-- Modernizr Plugin -->
		<script src="js/modernizr.custom.79639.js"></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.11.2.min.js"></script>

		<!-- Bootstrap Plugins -->
		<script src="js/bootstrap.min.js"></script>

		<!-- Retina Plugin -->
		<script src="js/retina.min.js"></script>

		<!-- ScrollReveal Plugin -->
		<script src="js/scrollReveal.min.js"></script>

		<!-- Flex Menu Plugin -->
		<script src="js/jquery.flexmenu.js"></script>

		<!-- Slider Plugin -->
		<script src="js/jquery.ba-cond.min.js"></script>
		<script src="js/jquery.slitslider.js"></script>

		<!-- Carousel Plugin -->
		<script src="js/owl.carousel.min.js"></script>

		<!-- Parallax Plugin -->
		<script src="js/parallax.js"></script>

		<!-- Counterup Plugin -->
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/waypoints.min.js"></script>

		<!-- No UI Slider Plugin -->
		<script src="js/jquery.nouislider.all.min.js"></script>

		<!-- Bootstrap Wysiwyg Plugin -->
		<script src="js/bootstrap-wysiwyg.js"></script>
		<script src="js/jquery.hotkeys.js"></script>

		<!-- Flickr Plugin -->
		<script src="js/jflickrfeed.min.js"></script>

		<!-- Fancybox Plugin -->
		<script src="js/fancybox.pack.js"></script>

		<!-- Magic Form Processing -->
		<script src="js/magic.js"></script>

		<!-- jQuery Settings -->
		<script src="js/settings.js"></script>


	</body>
</html>